<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/USER/Desktop/Rakesh/Professional/Automation/SeleniumPractice/src/test/java/testNG/VerifyTitle.java">
        <classes>
            <class name="testNG.VerifyTitle">
                <methods>
                    <include name="titleTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>